*{
    margin-top:150px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.wrapper button{
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 22px;
    border-radius:4px;
    color: #fff;
    cursor: pointer;
}
button:disabled{
    opacity: 0.6;
}
.counter{
    font-size: 22px;
}
.minus{
    background-color: red;
}
.plus{
    background-color:blue;
}